---
layout: default
---
<header class="masthead">        
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/">{{ site.person }}<span>&#39;s homepage and blog</span></a>
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>


<div class="content list">

<h2>Contacts</h2>
Anton Alekseev, St. Petersburg<br>
@alexeyev<br>
anton.m.alexeyev at google mail<br>
<a href="http://www.stachek66.ru">Homepage</a>
<br><br>
<h2>Blog</h2>

{% if site.posts.size == 0 %}
  <h4>No posts detected</h4>
{% else %}
{% for post in site.posts %}
  <div class="list-item">
    <h4 class="list-post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h4>
    <div class="list-post-date">
      <time>{{ post.date | date_to_string }}</time>
    </div>
  </div>
{% endfor %}
{% endif %}
</div>
